<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="/">welcome<span class="logo_colour"> to my family page</span></a></h1>
                <h2>"Family is not an important thing. It's everything."</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/sudesh">Sudesh</a></li>
                <li><a href="/sushil">Sushil</a></li>
                <li><a href="/priyanka">Priyanka</a></li>
            </ul>
        </div>
    </div>
</div>
