<% include partials/navbar.ejs %>
<% include partials/header.ejs %>
<main class="container">


    <link rel='stylesheet' href='/stylesheets/app.css'/>
    </head>

    <div id="site_content">
        <div id="content">
            <h1><%= title %></h1>
            <h1>About Me</h1>
            <p id="p1"> My name is Mayank Bhardwaj. I am international student in Georgian college. </br>
                I am basicalliy from India, also known as "Land of Festival". I completed my high school </br>
                in the feild of Medical Science.</p>
            <p id= "p1">
                In future if I get the opportunity in future I would to develop my skills as Web Developer.</br>
                Since the time i came to Cananda I came work alot of places and and one thing I learn that </br>
                experience is very important to find a job so i think I should create more website and became </br>
                a professional.</br>
            </p>
        </div>
    </div>
</main>
<% include partials/footer.ejs %>