<% include partials/navbar.ejs %>
<% include partials/header.ejs %>
<main class="container">


    <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <div id="site_content">
        <div id="content">
            <h1><%= title %> My sister</h1>

            <p>My sister lives in London,ON. She works in TD bank as a technical support.</p>
            <p>She completed her higher education from Centennial College.
                My sister is 5 years older than me and always been the most favourite person in the family.</p>
            <p> Everyone loves her in my family because she the only girl in our family. </p>
            <p> My dad always admire her and support her and love her more than me, i know that lol. </p>
        </div>
    </div>
</main>
<% include partials/footer.ejs %>