<% include partials/navbar.ejs %>
<% include partials/header.ejs %>
<main class="container">


    <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <div id="site_content">
        <div id="content">
            <h1><%= title %> My Mother</h1>
            <p> My mother is the most important person in my life.
                My Mother is a teacher in a school in India and she is a housewife as well. </p>
            <p> She takes care of all of us.
                She gets up early in the morning and complete her house hold work.
                She cooks delicious food for us.</p>
            <p>She happily involves in my happy moments and understands my likes and dislikes.
                I can express my any feeling and share whatever I have in my mind with her. </p>
            <p>I love my mother alot because she is my life and my support.</p>
        </div>
    </div>
</main>
<% include partials/footer.ejs %>