<% include partials/navbar.ejs %>
<% include partials/header.ejs %>
<main class="container">


    <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <div id="site_content">
        <div id="content">
            <h1><%= title %> My Father</h1>
            <p>My father is Doctor and he works in a govt. hospital. He is a very kind and helpfull man.
                He always helps the poor people and sometimes give them the medicines for free.</p>
            <p>My dad has taught me so many things throughout my life. He’s taught me to ride a bike, to drive a car,
                and how to fight through the situations when things are rough.He’s always there for me.</p>
            <p> He makes me feel like everything is OK when it’s not. When my world is falling apart,
                the best place to be is wrapped in my dad’s safe and dependable arms.
                I know he won’t disappoint me like my friends inevitably will.</p>
            <p> I trust my dad with a trust that most people don’t have. It’s rare and I’m so thankful for it</p>
        </div>
    </div>
</main>
<% include partials/footer.ejs %>